.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: 1rem solid;
  border-color: #006400;
}


.App-header {
  background-image: url("fondnoel.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Apple Chancery, cursive;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
